.title {
    font-size: 3rem;
    position: relative;
    display: table;
    z-index: 1;
}
.title::before {
    content: "";
    display: block;
    height: 1rem;    
    background: var(--accent);
    position: absolute;
    z-index: -1;
    bottom: 1%;    
    animation: slide-left .6s ease forwards;
}
.date {
    color: var(--grey);
    font-size: .9rem;
    margin-bottom: 1.5rem;    
}
@keyframes slide-left {
    0% {
        width: 30%;
        opacity: 0;
    }
    100% {
        width: 98%;
        opacity: 1;
    }
}